<div class="container-fluid my-3">
  <h1 class="text-center title">Admission Portal</h1>
  <div class="row  justify-content-around">
    <div class="col-5 my-3">
      <div *ngIf="addMessege" class="alert alert-success" role="alert">
        <b>Success !</b> Your details has been submitted successfully
      </div>
      <div *ngIf="updateMessage" class="alert alert-success" role="alert">
        <b>Success !</b> Your details has been updated successfully
      </div>
      <h3 class="text-center h2">Admission Form</h3>
        <form [formGroup]="admForm" (ngSubmit)="sendData(admForm.value)" >
          <div class="form-group">
              <label>Name<span class="text-danger">*</span></label>
              <input type="text" class="form-control" placeholder="Name" formControlName="name">
              <small *ngIf="admForm.get('name').invalid && admForm.get('name').touched" class="text-danger">This is requried field</small>
          </div>
          <div class="form-group">
            <label>Email address<span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="Enter email" formControlName="email">
            <small *ngIf="admForm.get('email').invalid && admForm.get('email').touched" class="text-danger">Enter valid email address</small>
          </div>
          <div class="form-group">
            <label>Mobile Number<span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="Enter Mobile Number" formControlName="phone">
            <small *ngIf="admForm.get('phone').invalid && admForm.get('phone').touched" class="text-danger">Mobile number must 10 digits long</small>
          </div>
          <div class="form-group">
            <label>Select Course<span class="text-danger">*</span></label>
            <select class="form-control" name="select" id="select" formControlName="batch">
              <option value="Angular">Angular</option>
              <option value="React">React</option>
              <option value="Django">Django</option>
            </select>
            <small *ngIf="admForm.get('batch').invalid && admForm.get('batch').touched" class="text-danger">Select Valid Option</small>
          </div>
          <button type="submit" [disabled]="admForm.invalid" class="btn btn-primary btn-block" *ngIf="update; else elseBlock">Update</button>
          <ng-template #elseBlock><button [disabled]="admForm.invalid" type="submit" class="btn btn-success btn-block
            ">Submit</button></ng-template>
        </form>
    </div>

    <div class="col-7 my-3">
      <div *ngIf="deleteMessege" class="alert alert-success" role="alert">
        <b>Success !</b> One entry has been deleted successfully
      </div>
      <h3 class="text-center h2">Student List</h3>
      <div *ngIf="gettingStatus;else elseblock"  class="text-center mt-4">
        <div class="spinner-border text-warning" role="status">
          <span class="sr-only">Fetching Data....</span>
        </div> Fetching Data....
      </div>
      <ng-template #elseblock>
          <table  class="table table-hover table-bordered my-2 text-center">
            <thead>
              <tr>
                <th scope="col">Sr.No.</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile No</th>
                <th scope="col">Batch</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of collection ;let i=index" >
                <td>{{i+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.batch}}</td>
                <td><button type="button" (click)="getDataToUpdate(item.userid,i)"  class="btn btn-success btn-sm mr-2"><i class="fa fa-edit"></i></button>
                <button type="button" (click)="deleteEntry(item.userid)"  class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></td>
              </tr>
            </tbody>
          </table>
        </ng-template>
    </div>
  </div>
</div>
